*.pyc
*.swp
*.swo
.cache
.*project
env
.envrc
venv/
.DS_Store
.idea
.coverage
.tox/
databricks_cli.egg-info/
.idea
**/__pycache__/
dist
build
databricks_cli.egg-info
.idea
*.iml
venv
.DS_Store
.coverage
.tox/
tox.output
.gitignore
tox.ini